.navbar{
    background-color:#1976d2;
    color:white;
    padding:15px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar div{
    display:flex;
    gap:20px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.navbar a:hover{
    color:yellow;
}
